@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@200;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

* {
  font-family: Montserrat !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.carousel-image {
  max-width: 50%;
  /* Ensure the image doesn't exceed the slide width */
  height: auto;
  /* Automatically adjust the height to maintain the aspect ratio */
  display: block;
  /* Make the image a block-level element */
  margin: 0 auto;
  /* Center the image horizontally */
}

.divider {
  width: 50%;
  height: 2px;
  /* Adjust the height of the divider */
  display: block;
  /* Make the image a block-level element */
  margin: 0 auto;
  background-color: #000;
  /* Adjust the background color of the divider */
}

/* styles.css */
.custom-font {
  font-family: gotu;
  /* Replace 'YourFontName' with your desired font */
  font-size: 16px;
  /* Set the font size to your preference */
  font-weight: 700;
  /* Set the font weight (e.g., 700 for bold) */
  color: #333;
  /* Set the font color to your preference */
}

/* LOGIN MODAL CSS */
.custom-modal {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
}

.custom-modal-title {
  color: #333;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  border: none;
}



/* Add this CSS to your stylesheets or use a CSS-in-JS solution */

/* Style for the Card containing the chart */
.card {
  border: 1px solid #ddd; /* Add a border for a clean look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style for the Card Body */
.card-body {
  padding: 20px; /* Add some padding for better spacing */
}

/* Style for the ResponsiveContainer */
.recharts-wrapper {
  margin-top: -20px; /* Adjust margin to better align with the card */
}


.fixed-card {
  width: 400px; /* Set the desired fixed width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.list-unstyled {
  padding: 15px; /* Padding for the list items */
}



.sidebar-link:hover {
  text-decoration: underline; /* Underline links on hover */
}


.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000; /* Background color: black */
  padding-top: 20px;
  font-family: 'Roboto', sans-serif; /* Add your preferred font-family */
}

.sidebar-link {
  color: #fff; /* Text color: white */
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-weight: bold; /* Make the text bold */
}

.sidebar-link:hover {
  background-color: #000000; /* Darken background on hover */
}


